.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
}

.list {
  font-family: "Arial";
  position: absolute;
  background-color: black;
  color: white;
  pointer-events: none;
  z-index: 1;
  width: 200px;
  text-align: center;
}

svg path {
  cursor: pointer;
}

svg path:hover {
  fill: gray;
}

.details {
  font-family: "Arial";
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  height: 100vh;
}
